@use '../custom' as *;
@use '../components/mixins' as *;

.footer{
    background-color: $footer;
    color:$white;
    padding:1rem;
    
    .contact-box{
        @include media-breakpoint-up(sm){
            justify-content: center;
        }

        &__icon{
            width: 2.5rem;
            height: auto;
            padding-top: 0.8rem;
            fill: $primary;
            @include media-breakpoint-up(sm){
                width: 4rem;
                padding-top:0;
            } 
        } 
        &__info{ 
            text-decoration: none;
            font-weight: 600;
            padding: 0.7rem;
            &--title{
                color: $white;
            } 
            &--subtitle{
                color: $gray-500;
                margin:0;
            }
        } 
    }   
} 