// File referencing
@use '../custom' as *;
@use '../components/mixins' as *;

//Nav bar gradiant background colors
/*nav{
    box-shadow: 0 0.05rem 15px 0.5px $black;
}*/
.menu{
    @include gradient;

    img{
        max-width: 70px;
    }

    li{
        padding: 0 0.75rem;
    };

    a{
        color: white !important;
        font-weight: 600;
        
    };
};

