@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    //below a media-quiery is used to hide the button on mobile devices.
    @include media-breakpoint-down(sm){
        display: none;
    }

    position: relative;
    padding: 0.9375rem;
    padding-right: 4rem;
    margin: 0;
    font-weight: 700;
    border: 0.1rem solid rgba($white, 0.6);
    background-color: $white;

    span{
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }

    i{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: $white;
    }

    &:hover{
        @include gradient;
        color: $white;
        span{
            background-color: rgba($black, 0.6);
        }
    }
}

.btn-rounded2{
    position: relative;
    padding: 0.9375rem;
    padding-right: 4rem;
    margin: 0;
    font-weight: 700;
    border: 0.1rem solid rgba($white, 0.6);
    background-color: $white;

    span{
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }

    i{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: $white;
    }

    &:hover{
        @include gradient;
        color: $white;
        span{
            background-color: rgba($black, 0.6);
        }
    }

}